---
const { cardNumber, title, text } = Astro.props;
---

<div class="dropdown-card" data-id={cardNumber}>
  <div class="dropdown-card__header" onclick="toggleDropdown(event)">
    <div class="header__content">
      <span class="cardNumber">{cardNumber}</span>
      <h2>{title}</h2>
    </div>
    <div class="dropdown-label"></div>
  </div>
  <div class="dropdown-card__body">
    <p>
      {text}
    </p>
  </div>
</div>

<script is:inline>
  function toggleDropdown(event) {
    const header = event.currentTarget;
    const card = header.closest(".dropdown-card");
    const body = card.querySelector(".dropdown-card__body");
    const label = card.querySelector(".dropdown-label");

    // Toggle classes for the dropdown
    body.classList.toggle("open");
    label.classList.toggle("open");
  }
</script>

<style>
  .dropdown-card {
    background-color: var(--color-gray-mid);
    border-radius: 45px;
    padding-inline: 60px;
    padding-block: 40px;
    transition: background-color 0.3s ease;
  }

  .dropdown-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    cursor: pointer;
  }

  .dropdown-card__header .header__content {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .dropdown-card__header .header__content .cardNumber {
    font-size: 60px;
  }

  .dropdown-card__header .header__content h2 {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
  }

  .dropdown-card__body {
    max-height: 0;
    overflow: hidden;
    border-top: solid 1px var(--color-black);
    padding-top: 0;
    font-size: 18px;
    color: var(--color-black);
    transition: max-height 0.3s ease, padding-top 0.3s ease;
  }

  .dropdown-card__body.open {
    max-height: 200px;
    padding-top: 30px;
  }

  .dropdown-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: #000;
    background-color: #fff;
  }

  .dropdown-label::before {
    content: "+";
    font-size: 44px;
  }

  .dropdown-label.open::before {
    content: "-";
  }
</style>
