---
import DropdownCard from "../DropdownCard/DropdownCard.astro";
---

<section class="case-studies">
  <div class="case-studies__header">
    <h1 class="label label--green">Services</h1>
    <p>
      At our digital marketing agency, we offer a range of services to help
      businesses grow and succeed online. These services include:
    </p>
  </div>
  <div class="case-studies__body">
    <DropdownCard></DropdownCard>
  </div>
</section>
<style>
  .case-studies {
    background-color: var(--gray-dark);
  }
  .case-studies {
    margin-top: 140px;
  }
  .case-studies__header {
    display: flex;
    justify-content: start;
    gap: 40px;
    align-items: center;
    max-width: 700px;
  }
  .case-studies__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
  }
  
</style>
