@import "./reset.css";
@import "./variables.css";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Space Grotesk", sans-serif;
}

body {
  max-width: 1920px; /* Limita el ancho máximo del contenido */
  margin: 0 auto; /* Centra el body horizontalmente */
  width: 100%; /* Para que tome todo el ancho en pantallas pequeñas */
  box-sizing: border-box; /* Incluye el padding y border en el tamaño total */
}

main {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  /* para que no se desborde nada */
  padding-inline: 100px;
  overflow: hidden;
  padding-block-start: 90px;
  padding-block-end: 80px;
  overflow: hidden;
}

@media (max-width: 767px) {
  main {
    padding-inline: 20px;
    padding-top: 90px;
  }
}
.label {
  width: fit-content;
  padding-inline: 7px;
  padding-block: 3px;
  font-weight: 500px;
  font-size: 40px;
  border-radius: 7px;
  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.label--green {
  background-color: var(--color--primary);
  color: var(--color-secondary);
}
.label--white {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}
.label--black {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}
.btn {
  border-radius: 14px;
  width: fit-content;
  padding-inline: 35px;
  padding-block: 20px;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.btn:hover {
  scale: 1.08;
}
.btn.btn--black {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}
.btn.btn--white {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}
