:root {
    /* Variables globales de los colores que vamos a usar */
    --color-green: #B9FF66;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray-dark: #3D3D3D;
    --color-gray-light: #EFEFEF;
    --color-gray-mid: #d5cdcd;
    --color-blue-dark: #191A23;
  }