---
import { NAV_LINKS } from "../../content/navBar"


---

<nav class="nav">
  <div class="nav__logo">
    <img src="/images/logos/alflowsitus.webp" alt="Logo Alflowsitus" />
  </div>
  <div class="nav__menu">
    {NAV_LINKS.map((link) => (
      <a href={link.href} class="nav__menu-item">{link.label}</a>
    ))}
  </div>
  <!-- Botón Hamburguesa -->
  <div role="button" class="hamburger hamburger--arrow" id="menu-btn">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>
</nav>

<!-- Sidenav -->
<div id="sidenav" class="sidenav">
  <div class="sidenav-links-container">
    {NAV_LINKS.map((link) => (
      <a href={link.href} class="sidenav-link">{link.label}</a>
    ))}
  </div>
</div>
<style>
  /* Navegación principal */
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 2px solid var(--color-secondary);
    background-color: var(--color-tertiary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    z-index: 999;

  }
  .nav {
  box-sizing: border-box;
  padding-inline: 100px; /* Mantén el espacio interno */
  width: 100%; /* Ahora no se desbordará */
}

  .nav__logo img {
    max-width: 138px;
    height: auto;
  }

  .nav__menu {
    display: flex;
    gap: 20px;
  }

  .nav__menu-item {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 18px
  }

  .nav__menu-item:hover {
    text-decoration: underline;
  }

  .btn {
    border: 1px solid #333;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s;
  }

  .btn:hover {
    background-color: var(--color--primary);
    color: #fff;
  }

  /* Botón Hamburguesa */
  .menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  /* Sidenav */
  .sidenav {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    flex-direction: column;
    align-items: start;
    transition: transform 0.3s ease;
    z-index: 20;
    margin-top: 90px;
    padding-top: 90px;
    
  }

  .sidenav a {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    margin: 10px 0;
    transition: color 0.3s;
    border-bottom: solid 1px white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: inherit;
  }
  .sidenav a:hover {
    color: var(--color--primary);
  }

  .sidenav a:hover {
    color: var(--color--primary);
  }

  .sidenav .btn {
    margin-top: 20px;
  }

  .sidenav-links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .sidenav-link {
    text-align: center;
  }
  .hamburger {
    display: none;
  }
  .hamburger.hamburger--arrow {
    transform: scale(.75);
  }

  /* Estilos responsivos */
  @media (max-width: 768px) {
    .nav {
      padding-inline-start: 30px;
      padding-inline-end: 30px;
    }
    .nav__menu {
      display: none;
    }

    .menu-btn {
      display: block;
    }
    .sidenav {
      display: flex;
    }
    .hamburger {
      display: flex;
    }
  }
</style>

<script>
  const menuBtn = document.getElementById("menu-btn");
  const sidenav = document.getElementById("sidenav");

  menuBtn.addEventListener("click", () => {
    const isActive = sidenav.style.transform === "translateX(100%)";

    if (isActive) {
      sidenav.style.transform = "translateX(-100%)"; // Cierra el menú
      menuBtn.classList.remove("is-active");
    } else {
      sidenav.style.transform = "translateX(100%)"; // Abre el menú
      menuBtn.classList.add("is-active");
    }
  });

  // Cerrar el sidenav al hacer clic en un enlace
  const sidenavLinks = document.querySelectorAll(".sidenav a");
  sidenavLinks.forEach((link) => {
    link.addEventListener("click", () => {
      sidenav.style.transform = "translateX(-100%)";
      menuBtn.classList.remove("is-active");
    });
  });
</script>
