---
// text cards content
import { services } from "../../content/services";
import DropdownCard from "../DropdownCard/DropdownCard.astro";
import SectionHeader from "../SectionHeader/SectionHeader.astro";
---

<section class="working-process">
  <SectionHeader
    title="Our working process"
    text=" Step-by-Step Guide to Achieving Your Business Goals "
  />
  <div class="working-process__body">
    {services.map((service, index)=>(
      <DropdownCard
      cardNumber={index + 1}
      title={service.title}
      text={service.text}
      />

    ))}
  </div>
</section>
<style>
  .working-process {
    background-color: var(--gray-dark);
  }
  
  .working-process__header {
    display: flex;
    justify-content: start;
    gap: 40px;
    align-items: center;
  }
  .working-process__header p {
    max-width: 400px;
    text-wrap: balance;
    font-size: 18px;
  }
  .working-process__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
</style>
